.details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top: 20px; */
    box-shadow: 0 0 5px #ccc;
}
.details img{
    max-width: 500px;
    min-width: 290px;
    height: 300px;
    width: 100%;
    display: block;
    object-fit: cover;
    margin: 25px;
}
.details .box{
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
}
.box .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.box .row h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.box .row span{
    color: crimson;
}
.box .colors button{
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
}
.box p{
    line-height: 1.5;
    margin: 25px 0;
    font-size: 18px;
}
.box button{
    /* margin-top: 20px; */
    border: 1px solid #333;
    outline: none;
    cursor: pointer;
    background: #333;
    color: white;
    padding: 15px 35px;
    font-size: 15px;
}